{% extends 'layout.html' %}

{% block content %}
<div class="container py-5">
  <h1 class="text-center mb-3" style="color: #9E2A2B; font-family: 'Playfair Display', serif;">Your Retirement Readiness Summary</h1>
  <p class="lead text-center">Here is an overview of your responses and what to focus on</p>

  <div class="text-center mb-4">
    
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-10">
      <p class="lead text-center">Would you like to download your summary in form of a user-friendly document containing simple instructions on how to approach retirement?</p>
      <div class="text-center mt-4">
        <a href="#" class="btn btn-primary btn-lg">Download summary &amp; Instructions</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
