{% extends 'layout.html' %}

{% block title %}Create Account - PrimeTime{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center" style="min-height:100vh;">
  <div class="col-md-5 login-container">
    <h2 class="text-center mb-4">Create Account</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} text-center">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('auth.register') }}">
      {{ form.hidden_tag() }}
      <div class="form-group mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}
          <div class="text-danger small">{{ error }}</div>
        {% endfor %}

      </div>
      <div class="form-group mb-3">
          {{ form.email.label(class="form-label") }}
          {{ form.email(class="form-control", placeholder="e.g. example@gmail.com") }}
          {% for error in form.email.errors %}
            <div class="text-danger small">{{ error }}</div>
          {% endfor %}
      </div>
      <div class="form-group">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class="form-control") }}
          {% for error in form.password.errors %}
            <div class="text-danger small">{{ error }}</div>
          {% endfor %}
      </div><br>
      <button type="submit" class="btn-login w-100 mt-2">Sign Up</button>
    </form>



    <div class="text-center mt-3">
      <p>Already have an account? <a href="{{ url_for('auth.login') }}">Log In</a></p>
    </div>
  </div>
</div>
{% endblock %}
