<!-- Tab navigation -->
<div class="tab">
  <a href="{{ url_for('views.tracker') }}" class="tablinks">All Calculators</a>
  <a href="{{ url_for('views.life') }}" class="tablinks">Life Expectancy</a>
  <a href="{{ url_for('views.assets') }}" class="tablinks">Assets</a>
  <a href="{{ url_for('views.liabilities') }}" class="tablinks">Liabilities & Savings</a>
  <a href="{{ url_for('views.income') }}" class="tablinks">Income</a>
  <a href="{{ url_for('views.expenses') }}" class="tablinks">Expenses</a>
  <a href="#" class="tablinks">Subscriptions</a>
  <a href="#" class="tablinks">Age Pension Eligibility</a>
  <a href="{{ url_for('views.future_budget') }}" class="tablinks">Future Budget</a>
  <a href="{{ url_for('views.epic') }}" class="tablinks">Epic & One-off</a>
  <a href="#" class="tablinks">Income Layers</a>
  <a href="#" class="tablinks">Spending Allocation</a>
  <a href="#" class="tablinks">Super Projection</a>
  <a href="#" class="tablinks">Debt Paydown</a>
  <a href="{{ url_for('views.calculator') }}" class="tablinks">Enough Calculator</a>
</div>
